
data/
IMSFD_DeepFake/


saved_models/
*.pth
*.pt
*.onnx
*.ckpt

training_progress.json

logs/
runs/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
.eggs/

venv/
.venv/
env/
ENV/


.vscode/
.idea/
*.suo
*.user
.vs/

.DS_Store
Thumbs.db
desktop.ini

.ipynb_checkpoints/
*.ipynb

*.rar
*.zip
*.7z
*.tar.gz
*.pdf

.env
.env.*
secrets.py
